.imageSection {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.zooming:hover {
  transform: scale(1.2);
}

.text {
  font-size: 3em;
  font-style: italic;
}

.black {
  background: black;
  color: white;
  margin: 1px;
}
